#legend {
	position:absolute;
	bottom:20px;
	right:20px;
	height:320px;
	width:300px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 3px 3px 3px #888888;
	padding:6px 20px 20px 20px;
	display: none;
	z-index: 2;
}

.colourball {
	font-size: 2em;
	vertical-align: middle;
}

.legend-text {
	position: relative;
	top:2px;
	margin-left: 5px;
}

.legend-line {
	margin-bottom:-15px;
}

#intact-sei:hover, #degraded-sei:hover, #lost-sei:hover {
	cursor: pointer;
}

.legend-desc {
	font-size: smaller;
}

.legend-sei-desc {
	font-size: 1.2em;
}

.leaflet-control-attribution {
	display:none;
}

#protected-colourball {
	color: #9fc266;
}

#intact-sei-colourball {
	color: #f0d940;
}

#degraded-sei-colourball {
	color: #eca731;
}

#boundary-colourball {
	color: black;
}

#lost-sei-colourball {
	color: #ce4237;
}

#fc-loss-colourball {
	color: #ff0000;
}

#fc-gain-colourball {
	color: #4600ff;
}

#fc-both-colourball {
	color: #ff00fe;
}

#fc-extent-colourball {
	color: #00ee16;
}

#fc-none-colourball {
	color: black;
}

#fc-switcher {
	margin-top: 25px;
}

#fc-legend {
	display:none;
}


#sendmail {
    width: 800px;
    height:600px;
	-webkit-box-shadow: 10px 10px 60px -8px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 60px -8px rgba(0,0,0,1);
	box-shadow: 10px 10px 60px -8px rgba(0,0,0,1);
    border: 1px solid gray;
    position: fixed;
    top: 10%;
    left: 20%;
    z-index: 200;
    background-color: white;
    opacity: 0.92;
    padding: 10px;
    display: none;
}

#mapintro {
    width: 800px;
    height:450px;
	-webkit-box-shadow: 10px 10px 60px -8px rgba(0,0,0,1);
	-moz-box-shadow: 10px 10px 60px -8px rgba(0,0,0,1);
	box-shadow: 10px 10px 60px -8px rgba(0,0,0,1);
    border: 1px solid gray;
    position: fixed;
    top: 20%;
    left: 20%;
    z-index: 200;
    background-color: white;
    padding: 50px;
    text-align: center;
}

#mapintro-done {
	background-color: #357ae8;
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	background-image: linear-gradient(top,#4d90fe,#357ae8);
	border: 1px solid #2f5bb7;
	color: white;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	padding: 10px;
	width: 140px;
	margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#mapintro-close {
	height: 25px;
	width: 25px;
	float: right;
	position: relative;
	top: -60px;
	right: -60px;
	cursor: pointer;
}

#sendmail iframe {
	width:100%;
	height: 100%;
	border: none;
	position: relative;
	top: -23px;
}

#sendmail-close {
	height: 25px;
	width: 25px;
	float: right;
	position: relative;
	top: -20px;
	right: -20px;
	cursor: pointer;
}

#sendmail-select {
	width: 800px;
    height:35px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    position: fixed;
    bottom: 0px;
    left: 10%;
    z-index: 200;
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    opacity: 1;
    text-align: center;
    cursor: pointer;
    display: none;
    font-family: "Lato", sans-serif;
    border-radius: 3px;
}

#sendmail-select h3 {
	margin-top: 6px;
	color: white;
	font-size: 1.2em;
}

#sendmail-select p {
	margin: 5px;
}

#fb-preview-image {
	display: none;
}
