label { 
	display: inline-block; 
	width: 120px; 
	text-align: right;
	margin:10px 10px 10px 0px;
}

select, input[type=text] {
	width: 240px;
}

#letter {
	font-size: 0.8em;
}

label[for=to] {
	vertical-align: top;	
}

#helptext {
	width: 320px;
	float:right;
	margin-right: 62px;
}

#helptext h4 {
	margin-top: 5px;
}

#helptext p:last-child {
	margin-bottom: 0px;
}

#helptext p {
	font-size: 0.9em;
}